.Contact {
  margin-bottom: 10px;
}

.button {
  margin-left: 10px;
  border-radius: 5px;
  border-color: red;
  color: red;
  font-weight: 500;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover,
.button:focus {
  background-color: darkblue;
  border-color: darkblue;
  box-shadow: 5px 5px 5px -5px rgba(1, 61, 178, 0.6);
  cursor: pointer;
}
